.login-align{
  display: flex;
  flex-direction: column;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  background-color: white;
}

.nav-link{
  color: white;
}