
.login{
    /* moves login components from navbar */
    margin: 10%;
    width:10%;
    height:390px;

}

.CreateUser{
    margin: 10%;
    width:10%;
    height:390px;
}

.login input{
    margin: 2%
}

.login button{
    margin: 0%
}